<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-bold" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Large-monday_black_whiteBG-left.png" alt="logo"
        width="100" class="d-inline-block align-text-top">
      <a routerLink="/" class="navbar-link is-arrowless badge badge-primary">Home</a>
      <a routerLink="/leaderboard" class="navbar-link is-arrowless badge badge-primary">Leaderboard</a>
    </a>
  </div>
</nav>
